[2015-06-08 18:12] wjwwood opened #7 "OpenSplice Logging"
Currently on OS X several of these tests fail:

http://54.183.26.131:8080/job/ros2_batch_ci_osx/149/testReport/

I've been trying to track down the failures with OpenSplice, but all of the opensplice processes simultaneously dump their logs to the same file:

http://54.183.26.131:8080/job/ros2_batch_ci_osx/ws/workspace/src/ros2/system_tests/test_communication/ospl-info.log

This makes it hard to d

[2015-06-08 20:20] wjwwood commented on #7
Reading the OSPL deployment guide, it looks like `OSPL_LOGPATH` might be the right env variable now.

[2015-06-08 20:23] wjwwood commented on #7
Actually the `OSPL_ERRORFILE ` and `OSPL_INFOFILE ` env variables can be used to adjust the name, whereas `OSPL_LOGPATH` is used to be the path they are to be put into. We can also specify `<stdout>` or `<stderr>` in those env variables. We can even adjust the verbosity level with `OSPL_VERBOSITY`, though it's not clear to me what the value of that variable should be.

[2015-06-08 20:26] dirk-thomas commented on #7
Until we have more sophisticated logging options I would propose to use stdout / stderr since that output is already handled in `launch`, Jenkins as well as if invoked on the command line.

The OpenSplice package could set these environment variables in its package local setup files.

[2015-06-08 20:28] wjwwood commented on #7
I agree, I'll look at how to do that.

[2015-06-10 01:00] wjwwood opened #8 "OpenSplice with Connext tests fail on OS X"
This results in 24 failing tests. It seems to be related to discovery so it affects all of the pairs (connext publishing with opensplice subscribing and vise versa). I can also reproduce this locally by running this:

[code]

And then this in a separate terminal:

[code]

Eventually the warnings settle out, but they never exchange messages. This seems new to me, at one point communication between

[2015-06-10 01:02] wjwwood commented on #8
Here is the output with the roles swapped (opensplice subscribing):

[code]

There's no erroneous output from the Connext talker.

[2015-06-10 01:03] wjwwood commented on #8
The same exact things happen with Connext dynamic as well.

[2015-06-10 01:03] wjwwood commented on #8
OpenSplice to OpenSplice seems to work fine.

[2015-06-10 04:28] #7 closed

[2015-06-11 23:09] wjwwood opened #10 "Add tests for Parameters"
Similar to the tests for pub/sub and services.

[2015-06-30 07:33] tfoote commented on #10
ongoing in this branch: https://github.com/ros2/system_tests/tree/test_parameters

[2015-06-30 21:14] tfoote commented on #10
Tests are running on opensplice and connext connext_dynamic is hanging.  I need to debug more to find out what's going wrong. It's only basic coverage at the moment.

[2015-07-07 21:21] gerkey commented on #10
From today's meeting: there is support in ament for: gtest, gmock, and nose.  @dirk-thomas will add a pointer to the relevant documentation.

[2015-07-07 21:23] gerkey commented on #10
Documentation is in the CMake code: https://github.com/ament/ament_cmake/blob/master/ament_cmake_gtest/cmake/ament_add_gtest.cmake

[2015-07-16 23:44] wjwwood commented on #8
Closed by #69 and the related pr's.

[2015-07-16 23:44] #8 closed

[2015-07-30 20:09] dirk-thomas opened #22 "tests for services"
Since services are a requirement for parameters I would suggest to implement tests for services before #14.

[2015-08-22 23:49] tfoote commented on #10
http://ci.ros2.org/job/ros2_batch_ci_linux/261/ pass
http://ci.ros2.org/job/ros2_batch_ci_osx/186/ pass
http://ci.ros2.org/job/ros2_batch_ci_windows/265/ (failing to find gtest. has anyone seen this error before?)

[2015-08-23 01:02] dirk-thomas commented on #10
If you look at any other Windows job you will find that GTest is always missing. Simply because GTest is not installed on the Windows slave. This will be resolved once we merge ament/ament_cmake#22

[2015-08-26 21:19] wjwwood opened #36 "timer test may be flaky"
Between two builds of OS X this test failed:

http://ci.ros2.org/job/ros2_batch_ci_osx/194/testReport/junit/(root)/test_time__rmw_connext_dynamic_cpp/timer_during_wait/

The previous build passed that one test.

http://ci.ros2.org/job/ros2_batch_ci_osx/193/

There were small changes which could have affected this, but I think they're unrelated since this only affects one implementation and the cha

[2015-08-26 21:24] wjwwood opened #37 "random failure with connext and opensplice"
Between two Linux builds which were expected to be the same this test failed:

http://ci.ros2.org/job/ros2_batch_ci_linux/274/testReport/junit/(root)/test_requester_replier_cpp__primitives__rmw_connext_dynamic_cpp__rmw_connext_cpp/test_requester_replier/

The previous build passed: http://ci.ros2.org/job/ros2_batch_ci_linux/273/

Some of the output seems to indicate a similar failure (maybe not a

[2015-08-28 21:03] tfoote commented on #37
This same test appears to be flaky on opensplice with a different error on osx: http://ci.ros2.org/job/ros2_batch_ci_osx/218/testReport/junit/%28root%29/test_requester_replier_cpp__primitives__rmw_opensplice_cpp/test_requester_replier/

[2015-08-28 21:05] #10 closed

[2015-08-31 18:46] wjwwood opened #39 "intra process test is flaky"
http://ci.ros2.org/job/ros2_batch_ci_linux/297/testReport/junit/(root)/test_intra_process_within_one_node/nominal_usage/

It has failed a few times on the CI, but locally I cannot reproduce it. I think we can just add more re-try loops, but first I want to understand why two is not enough.

[2015-09-03 15:41] ainchauspe opened #43 "Non-primitive field types for services"
Hi @dirk-thomas,

This is Anita from Erle Robotics. Recently, under the supervision of @vmayoral I've been trying to port ROS 1 packages to ROS 2. However, working with services I get errors with non-primitive field types.
I followed these steps:

· Build the package with primitives. (In this case the package builds perfectly)

· Build the package with both primitives and non-primitives. (I get an

[2015-09-03 15:59] vmayoral commented on #43
Doubled checked this, it seems that services composes of non-primitive messages can't be compiled (e.g.: as soon as uncommenting https://github.com/erlerobot/ros2_spider_msgs/blob/master/srv/SrvTest.srv#L1) i get the error @ainchauspe  describes above.

Is this expected to work or nobody has looked at it yet?

[2015-09-03 17:33] dirk-thomas commented on #43
I tried to build the `spider_msgs` package and ran into a different problem. It seem that calling `rosidl_generate_interfaces` twice was the issue for me. After moving the service files into the first call of `rosidl_generate_interfaces` it worked.

It then also worked to uncomment the line you referenced.

If it still doesn't work you might want to check that you are using the latest version of a

[2015-09-04 07:23] ainchauspe commented on #43
Thank you @dirk-thomas I made that change and now it works perfectly!

[2015-09-04 07:23] #43 closed

[2015-10-07 21:17] jacquelinekay opened #50 "Intermittently failing requester/replier test"
The test_requester_replier test is flaky on master.

e.g. on a recent test branch, it passed on osx but not Linux:
http://ci.ros2.org/job/ros2_batch_ci_linux/403/testReport/junit/(root)/test_requester_replier_cpp__empty__rmw_connext_dynamic_cpp/test_requester_replier/
http://ci.ros2.org/job/ros2_batch_ci_osx/300/

[2015-10-08 21:38] wjwwood commented on #50
Ok, I found the problem. I can reproduce the issue consistently with this patch:

[code]

Basically what's happening is that the requester sends a request and then waits up to 100ms for the response. If it takes longer than 100ms for the response it discards the future and tries to send the request again. In the mean time the replier has received both requests and sent a reply for the first but no

[2015-10-08 22:15] dirk-thomas commented on #50
I think the tests for these duplicates for an important reason: if a client "drops" the future of a previous request I don't think he should be notified later. If the response still arrives I think discarding it instead of dispatching it is a more reasonable behavior.

[2015-10-08 22:19] wjwwood commented on #50
@dirk-thomas I don't understand what you're saying.

If the client discards a future for a given request, they are not notified, since they never check the future.

I don't follow what you're arguing for nor what we should do instead.

[2015-10-08 22:25] dirk-thomas commented on #50
Nvm. I thought the check for duplicates was on the client side.

[2015-10-08 22:25] wjwwood commented on #50
Yeah, this is checking on the server side.

[2015-10-09 00:48] #50 closed

[2015-10-14 17:39] jacquelinekay commented on #22
Services tests were merged in ros2/system_tests#42, so we can close this, right @esteve?

[2015-10-14 17:40] esteve commented on #22
@jacquelinekay yep, thanks for pointing it out.

[2015-10-14 17:40] #22 closed

[2015-10-15 21:10] jacquelinekay commented on #37
Duplicate of ros2/ros2#127

[2015-10-15 21:12] #37 closed

[2015-11-04 23:33] jacquelinekay commented on #36
try to fix this week

[2015-11-05 00:35] jacquelinekay commented on #36
how ironic, I assigned this to myself but the error only seems to happen intermittently on OSX...

http://ci.ros2.org/view/nightly/job/ros2_batch_ci_osx_nightly/101/
http://ci.ros2.org/view/nightly/job/ros2_batch_ci_osx_nightly/99/

I'm now vnc'd into a Gazebo Jenkins slave because I didn't want to disrupt our Jenkins machine and Steve said it was ok...

there's also a shared_ptr_const_reference t

[2015-11-05 00:38] dirk-thomas commented on #36
Windows has it too: http://ci.ros2.org/job/ros2_batch_ci_windows/565/testReport/(root)/test_time__rmw_opensplice_cpp/timer_during_wait/

[2015-11-06 17:29] #36 closed

[2015-12-17 19:41] gerkey opened #92 "Intraprocess multithreaded test is flaky"
(Not sure whether this is the same problem as #39.)

Below is the console output from a failure seen in a nightly build on OSX, running the multithreaded test with connext.

Looks like this is the sequence of events (https://github.com/ros2/system_tests/blob/master/test_rclcpp/test/test_multithreaded.cpp#L78-L110):

* Publish one message, spin, and expect it to have been received by all subscriber

[2015-12-17 19:45] gerkey commented on #92
I can reproduce it locally if I run `stress` in parallel, e.g.:

[code]

I'll try some things to fix it.

[2015-12-17 19:53] gerkey commented on #92
Adding a 5s sleep after the first publish (https://github.com/ros2/system_tests/blob/master/test_rclcpp/test/test_multithreaded.cpp#L78) fixes the problem (but is obviously a bad idea). I need to get some education about what should be expected from `spin_some()`, particularly in the intraprocess case.

[2015-12-17 20:42] gerkey opened #93 "Services test is flaky"
Starting from a failure in a nightly job (http://ci.ros2.org/view/nightly/job/nightly_osx/147/consoleFull#console-section-170 - search for `test_services_cpp__rmw_opensplice_cpp ..........................***Timeout`), I can locally reproduce an apparent deadlock in the services test like so:

[code]

Eventually, it'll stop. Then if I attach gdb to each process, the server has this backtrace:

[cod

[2015-12-17 20:44] gerkey commented on #93
@esteve, any thoughts on this problem?

[2015-12-17 20:44] gerkey commented on #92
@wjwwood, any thoughts on what is / should be happening here?

[2015-12-17 21:08] esteve commented on #93
@jacquelinekay suggested that it might be because the service gets killed too early, so it won't send the response back to the client in time. Looking into it.

[2015-12-17 21:17] gerkey commented on #93
What do you mean by the service getting killed? In this case, both processes (server and client) are still running when the system is deadlocked, and the server appears to have happily serviced all the requests and then gone back to spinning.

[2015-12-17 21:19] esteve commented on #93
@gerkey sorry, I thought that was different issue.

[2015-12-17 21:55] gerkey commented on #92
Should be fixed by #94.

[2015-12-17 21:55] #92 closed

[2015-12-18 01:58] jacquelinekay commented on #93
Potential fix in #95. I was getting deadlock after ~20 iterations on my desktop and I don't see it anymore.

[2015-12-18 20:13] #93 closed

[2016-05-03 21:50] dirk-thomas commented on #39
This seems to pass now: http://ci.ros2.org/job/ci_linux/1251/testReport/(root)/test_intra_process_within_one_node/

But all tests report the same name and should include the rmw implementation name.

[2016-05-03 22:29] jacquelinekay commented on #39
I opened ros2/system_tests#116 to address the rmw implementation in the label.

[2016-05-03 22:52] wjwwood commented on #39
Thanks @jacquelinekay.

[2016-05-03 22:52] #39 closed

[2016-05-31 23:19] dirk-thomas opened #123 "Add bounded array messages to communication tests"

[2016-06-14 23:02] gerkey opened #134 "Test fails with extra request"
Example:

http://ci.ros2.org/view/nightly/job/nightly_linux_debug/105/testReport/(root)/test_requester_replier_cpp__Primitives__rmw_opensplice_cpp_Debug/test_requester_replier/

I can reproduce this problem locally. `test_replier` receives the 2 expected requests, which look like this:
[code]
[code]
and then receives a third, unexpected one, which looks bogus:
[code]

[2016-06-14 23:03] wjwwood commented on #134
I think I fixed this in my not yet merged pr: https://github.com/ros2/rmw_opensplice/commit/1a73e14fe868ef8a845b53cfa5c88a7d32fa4cfb

[2016-06-14 23:07] gerkey commented on #134
Glad I asked! I'll test with that change.

[2016-06-14 23:17] gerkey commented on #134
Problem fixed with ros2/rmw_opensplice@1a73e14 applied locally. Thanks for the tip. I'll leave this issue open until your PR gets merged, in case somebody else comes across the problem.

[2016-06-15 20:17] mikaelarguedas opened #137 "[test_communication] Refactor test macros to generate cross rmw and cross rcl tests"
Refactor the `multi_target` macro to generate tests for the different configurations:
- ~~same rcl same rmw (will replace custom_test)~~
- same rcl but different rmw (what it currently does but only for rclcpp)
- same rmw but different rcl
- different rcl and different rmw

To do so, need to fix python char and test template to match current cpp tests

[2016-06-16 01:25] mikaelarguedas commented on #137
I guess we actually want to keep custom_test to keep testing both single process and multi process pub/sub so removing first item

[2016-06-23 03:26] wjwwood opened #143 "remove disabled tests when wait_for_service support is added to fastrtps"
See: https://github.com/ros2/ros2/issues/215#issuecomment-226589984

Links:
- https://github.com/ros2/system_tests/commit/a66ae7198ab00435dcbe11a9e6a991eaed4b94f2#diff-d9905b3caf2478827ea45e9627bca66cR19
- https://github.com/ros2/system_tests/commit/a66ae7198ab00435dcbe11a9e6a991eaed4b94f2#diff-d9905b3caf2478827ea45e9627bca66cR24
- https://github.com/ros2/system_tests/commit/a66ae7198ab00435dcbe11

[2016-06-23 03:26] wjwwood commented on #143
Tracked: eProsima/ROS-RMW-Fast-RTPS-cpp#14

[2016-06-29 20:22] #123 closed

[2016-07-07 20:09] dhood opened #153 "two clients with the same settings behave differently for fastrtps"
In https://github.com/eProsima/ROS-RMW-Fast-RTPS-cpp/issues/48 (`test_client_scope_cpp` failures), the first client received the response but the second client did not. It can be fixed by making a change to the QoS reliability settings of the second client.

The second client in that demo should have the same behaviour as the first. I have made a regression test that currently fails for fastrtps:

[2016-07-08 20:33] gerkey opened #154 "possible test-result masking"
While working on ros2/rclcpp#236, I ran this build: http://ci.ros2.org/job/ci_osx/1232/testReport/, which shows some fastrtps test failures. Looking at the console log (http://ci.ros2.org/job/ci_osx/1232/consoleFull#console-section-200), among much other output, I noticed this section:
[code]

That sure looks to me like the connext variant of the parameter_server test failed. But there's no report

[2016-07-08 20:36] dhood commented on #154
I think the test was then re-run and passed (go to the last occurrence of `test_parameter_server_cpp__rmw_connext_cpp` in the log)

[2016-07-08 20:37] gerkey commented on #154
Ah, brilliant! I was expecting the re-run to happen immediately if it was enabled, and didn't look far enough ahead to find the `23:54:29 +++ Testing 'test_rclcpp' again (retry #1 of 5)` output. Thanks.

[2016-07-08 20:37] #154 closed

[2016-07-08 23:47] wjwwood commented on #153
If you've committed the test to a branch, then you might as well open a pull request so it's more visible. Otherwise, it's not clear why the branch is there and if it can be pruned or not in the future.

[2016-07-09 00:12] dhood commented on #153
thanks, I've done that now

[2016-09-21 16:50] dhood commented on #153
closed with https://github.com/eProsima/ROS-RMW-Fast-RTPS-cpp/issues/48#issuecomment-236144061
regression test added in https://github.com/ros2/system_tests/issues/156

[2016-09-21 16:50] #153 closed

[2016-09-21 18:43] dhood commented on #134
http://ci.ros2.org/job/ci_linux/1736/testReport/ confirms that this was fixed by https://github.com/ros2/rmw_opensplice/pull/143

[2016-09-21 18:43] #134 closed

[2016-11-03 20:23] #137 closed

[2017-03-10 22:58] gerkey opened #191 "Move messages and fixtures from test_communication into another repo"
ros2/system_tests#190 arranges for installation of messages and helpful Python code that's now being used elsewhere (ros2/cli_tools#5). But it would be better to move that stuff into a different repo (https://github.com/ros2/system_tests/pull/190#issuecomment-285801282).

[2017-03-19 05:05] k-okada opened #195 "how to run tests"
Sorry for basic question, how to run tests?
I'm using beta1 release and ` ament test ~/ros2_ws/src/ros2/system_tests/test_communication/` outputs many failures.

[code]

[2017-03-20 08:46] mikaelarguedas commented on #195
this is the right way to run the tests (alternatively you can pass `--only PACKAGE_NAME` rather than the full path of your package).

Looking at the failure, it looks like only the tests involving python are failing. The error message seems to indicate that `rclpy` couldn't find fastrtps when creating subscribers/publishers.
are you able to run `talker_py` and `listener_py` after sourcing this wor

[2017-03-21 05:13] k-okada commented on #195
Yes, python example working ok, full logs are here, I have to change Fast-RTPS for https://github.com/eProsima/Fast-RTPS/issues/77
[code]

[2017-04-05 18:26] mikaelarguedas commented on #191
see https://github.com/ros2/rcl_interfaces/pull/16#issue-219022063 for what remains to be done

[2017-04-26 18:35] mikaelarguedas commented on #191
@gerkey is this still on your todo list ?

[2017-04-26 21:00] gerkey commented on #191
It's certainly not near the top of my stack. If it becomes urgent, I'm happy to work on it.

[2017-04-26 21:04] mikaelarguedas commented on #191
Should we unassign this until someone that has time picks it up ?

[2017-04-26 21:21] dirk-thomas commented on #191
We have already copied the messages / fixtures to a second location. Therefore in my opinion we should follow up on also using them from here and not build up more unnecessary technical debt.

[2017-05-01 15:05] mikaelarguedas commented on #191
:+1: this will allow to reduce the amount of code to maintain and build time to not have to build messages for every package needing to test anything message related, so I also think that we should follow-up on this sooner than later.

[2017-05-16 22:16] dirk-thomas commented on #191
@gerkey We assigned this ticket two weeks ago for the sprint. Is there any update on this?

[2017-06-17 01:09] wjwwood opened #209 "update test for avoid_ros_namespace_conventions QoS option to use no_demangle"
Leftover from: https://github.com/ros2/ros2/issues/361

Again, like https://github.com/ros2/rcl/issues/146, I'm not sure how to test this exactly.

But if we can figure out how to test this in a portable way, the test here can probably be removed in favor of the test in https://github.com/ros2/rcl/issues/146.

[2017-06-27 14:06] clalancette opened #212 "New failing test: test_client_scope_cpp__rmw_connext_cpp"
Starting with build: http://ci.ros2.org/view/nightly/job/nightly_linux_repeated/696/ , the test known as test_client_scope_cpp__rmw_connext_cpp started failing.  If you search for 'test_client_scope_cpp' in the console output, you'll see that this test started timing out.

[2017-06-27 17:08] mikaelarguedas commented on #212
known to be flaky

[2017-07-10 23:24] dirk-thomas commented on #195
@k-okada Sorry for the late reply.

Instead of passing the path to the package to test to `ament test` you should call `ament test --only <pkgname>`. The first approach will only consider the single package and it is your responsibility to ensure that all dependencies are available and the environment is setup correctly. In the second approach the tool will make sure that all dependencies within t

[2017-07-11 00:15] k-okada commented on #195
The title of this issue is not precise, I want to ask "I dit follow the instruction of  beta1 release and try to run ament test, but it fails, Is it expected behavior ? or did I misunderstand something? for example the way to run ament test?"
And it turns out I did correct way to run test, "ament test " was ok. The problem was there is something wrong if we want run RTPS on droplet virtual machine

[2017-07-11 00:15] #195 closed

[2017-08-05 01:28] mikaelarguedas commented on #143
closing this given that it seems the have been adressed in https://github.com/ros2/system_tests/pull/164

[2017-08-05 01:28] #143 closed

[2017-08-07 21:04] clalancette opened #214 "Figure out how to test QoS parameters"
There are 2 branches currently in this repository that start adding QoS tests:

* [qos-durability](/ros2/system_tests/tree/qos-durability)
* [qos_tests](/ros2/system_tests/tree/qos_tests)

These should probably be combined, but then we run into a combinatorial problem; we would test all combinations of RMW implementations x the rclcpp or rclpy x all QoS parameters, which would lead to a very long

[2017-08-09 18:38] mikaelarguedas commented on #214
Enabebling these tests for a single client library and a single message type (for all rmw) is a good way to test this for now until we change the way to whitelist/blacklist specific tests

[2017-09-01 22:22] mikaelarguedas commented on #191
* Linux [![Build Status](http://ci.ros2.org/buildStatus/icon?job=ci_linux&build=3151)](http://ci.ros2.org/job/ci_linux/3151/)
* Linux-aarch64 [![Build Status](http://ci.ros2.org/buildStatus/icon?job=ci_linux-aarch64&build=494)](http://ci.ros2.org/job/ci_linux-aarch64/494/)
* macOS [![Build Status](http://ci.ros2.org/buildStatus/icon?job=ci_osx&build=2508)](http://ci.ros2.org/job/ci_osx/2508/)
* Wi

[2017-09-01 23:56] mikaelarguedas commented on #191
Ok I finally found some time to move this forward.
What this set of PR does:
- move interfaces and corresponding C++/Python fixtures into a new package called test_msgs
- update packages depending on test_communication to use this package
- test_communication is now a real testing package that doesn't need to install anything (or to be released :wink: @nuclearsandwich )

What is not in this set of

[2017-09-08 21:33] #191 closed

[2017-10-06 18:09] mikaelarguedas opened #237 "[test_communication] Refactor test_messages_c.cpp to be closer to test_publisher.cpp and test_subscriber.cpp"
## Feature request

#### Feature description
[test_messages_c.cpp](https://github.com/ros2/system_tests/blob/837a31db1c1d0bd0318cd88946f2f560fec10dbc/test_communication/test/test_messages_c.cpp) defines its own fixtures and is a monolothic >1000 line file. We should refactor it to use create executables similar to the c++ test_publisher/test_subscriber and move the fixtures to the test_msgs packag

[2017-10-13 03:46] mikaelarguedas opened #238 "[test_security] test access control policies"
This is tracking the parts of `test_security` not implemented in #230
#230 tests authentication and encryption in various scenarios but doesnt test access control.

Tests for access control should:
- have a yaml file (same format as [the sros2 example](https://github.com/ros2/sros2/blob/b4325d83ef5b9d57b025da00333b1f6179175675/examples/sample_policy.yaml)) defining all the access control policies

[2017-10-16 23:33] dhood opened #242 "Security "not connecting" tests are flaky"
http://ci.ros2.org/job/nightly_osx_repeated/863

[code]

They are receiving connections when they're not supposed to. We know that some nodes can take a while to shutdown properly so perhaps it's cross-talk from re-running the tests multiple times. I'll add a namespace to the nodes and see if it fixes it.

[2017-10-16 23:40] mikaelarguedas commented on #242
I'm afraid adding namespaces is not an easy fix in this case because while the "not connecting" ones won't connect, we would need to generate different security files for all the ones that "should connect" as their current permissions have the partition "rt_".

Edit: Actually looking at the current permission files they all have wildcards on partitions so namespaces should be ok for now :+1:  let'

[2017-10-17 20:31] dhood commented on #242
closed by https://github.com/ros2/system_tests/pull/243

[2017-10-17 20:31] #242 closed

[2018-02-22 22:24] ruffsl commented on #238
@mikaelarguedas , I was planning on implementing something like this soon. Perhaps we could check the correctness of the implementation by exhaustively testing the access control system given a global policy definition.

Simply, we could manifest a policy definition into what the transport expects, synthesize a ROS graph representation (perhaps adversely every node tries to connect with all other

[2018-02-22 23:09] ruffsl commented on #238
With regards to realizing a graph representation into real ROS2 nodes, which test example should I look at for programmatically testing and creating nodes and subsystems?

[2018-03-01 19:15] dhood commented on #212
closing as duplicate of https://github.com/ros2/build_cop/issues/41

[2018-03-01 19:19] dhood commented on #212
actually I think I might have been incorrect that it was tracked by the other ticket, it seems that https://github.com/ros2/build_cop/issues/41 only refers to fastrtps. services are known to take up to 20s on connext, so maybe increasing the timeout is enough for that test (it starts two clients). I'll check if that makes a difference.

[2018-03-09 18:16] #212 closed

[2018-04-03 06:47] minggangw opened #261 "Benchmark for different ROS2 clients"
## Feature request

#### Feature description

We are developing [rclnodejs](https://github.com/RobotWebTools/rclnodejs), a Node.js client for ROS2. We want to add some Performance and Power (PnP) tests  for the current rclcpp, rclpy and rclnodejs (may be more) clients, some cases have been designed [here](https://github.com/RobotWebTools/rclnodejs/tree/develop/benchmark). But I don't think it is p

[2018-04-03 22:42] dirk-thomas commented on #261
Placing them in this repo sounds like a good option to me. As an alternative we could also create a new repository.

[2018-04-03 22:51] wjwwood commented on #261
Here or in a new repository is also good by me. The best option might be in this repository but in a new package, like `test_performance` or whatever you want to call it.

For organization, I'd recommend starting the package name or package names with `test_` as that's a convention we use for things that do not need to be released. Also, it might be a good idea to split it up by package name, so t

[2018-04-04 09:40] minggangw commented on #261
I agree that putting a package named `test_clients_performance` under this repo is reasonable, and the structure looks like:

[code]

The next step is how we define these performance tests (I have written some under rclnodejs repo), I suppose that all tests of the clients must follow the same strategy in order to compare the statistics. Do we have any references?

[2018-04-08 02:10] minggangw commented on #261
That' no problem, I will collaborate with our QA team to run the current PnP test designed for `rclnodejs`, and if the result can give some meaningful data, I will propose some then.

[2018-06-13 05:46] mikaelarguedas opened #282 "[test_rclcpp] Add local and async set_parameters_atomically tests"
Follow-up of #277.

#277 introduces a minimal set of tests to cover the use of `set_parameters_atomically` on a SyncParametersClient.
This set of tests should be extended to cover AsyncParametersClient as well as setting local parameters via the Client interface

[2018-08-15 10:45] yechun1 opened #290 "[test_communication] memory leak issues in test_messages_c.cpp"
1.  A non-heap pointer is placed on the free list, likely causing a crash later.
In verify_message<test_msgs__msg__StaticArrayPrimitives>(T1 &, unsigned long): Free of an address-of expression, which can never be heap allocated ([CWE-590](http://cwe.mitre.org/data/definitions/590.html))

   * Input expected_msg is struct:

   * trace functions the msg be freed

2. Incorrect values may be read from

[2018-08-15 18:06] mkhansen-intel opened #291 "Please add a README explaining how to add new tests"
## Feature request
Add a README with some explanation of how to add new system tests

#### Feature description
I would like to be able to add a system test if I make an addition to rclcpp, but not completely sure how to do that. Please add basic instructions.

#### Implementation considerations
N/A

[2018-08-16 16:54] sloretz commented on #290
Thanks for the issue @yechun1. Mind providing steps to reproduce the back trace?

Looking at the second bullet point I'm not where is the stack pointer being free'd.
I see it passed in here

https://github.com/ros2/system_tests/blob/5c2682ad721470a6d87fe178750061e3380f767d/test_communication/test/test_messages_c.cpp#L495-L496

But I don't see any calls to `test_msgs__msg__StaticArrayPrimitives__de

[2018-08-17 03:25] yechun1 commented on #290
@sloretz sorry that code scan tool we used is not free for sharing. The trace related with build code and is a little difficult to understand, below are copy-parse, would you please help to analyze and check if there is a potential issue.
Bullet 2:
* address_free: get_message frees address of expected_msg
https://github.com/ros2/system_tests/blob/5c2682ad721470a6d87fe178750061e3380f767d/test_commu

[2018-08-30 13:39] nuclearsandwich commented on #291
The system_tests repository is primarily meant to be internal-facing to the core team. If you're making changes to rclcpp or another repository which could benefit from additional system tests I would suggest raising the question of including additional system tests in the that pull request before opening a pull request here.

We are currently concentrating efforts on other aspects of ROS 2 develo

[2018-08-30 14:48] mkhansen-intel commented on #291
@nuclearsandwich - thank you, this answers my questions, you can close this issue if you like.

[2018-08-30 17:48] #291 closed

[2018-09-13 20:38] dirk-thomas commented on #290
The point @sloretz tried to make is that in the function [verify_message()](https://github.com/ros2/system_tests/blob/5c2682ad721470a6d87fe178750061e3380f767d/test_communication/test/test_messages_c.cpp#L493-L496) the variable is allocated on the stack and is only being initialized and populated in the function `get_message()` but nowhere is the destroy / fini function called (which would call `fr

[2018-10-24 22:31] dirk-thomas commented on #290
@yechun1 Friendly ping.

[2018-10-25 03:12] yechun1 commented on #290
@dirk-thomas, thanks for notice and sorry for update late.
just checked, the issue could not be reproduced with latest code base. so close it.

[2018-10-25 03:12] #290 closed

[2018-10-29 22:18] sloretz opened #305 "[test_communication] CMake variable target_suffix doesn't appear to be set anywhere"
The cmake code for creating tests in `test_communication` references a variable `target_suffix` in several places, but it doesn't appear to be set anywhere.

One place is
https://github.com/ros2/system_tests/blob/602831334853b76af0901df809b1390c160327dc/test_communication/CMakeLists.txt#L75

The earliest reference to `target_suffix` I found is 03ff4fe029312924f8a73bd41afc3c0d8ae2b473, and it doesn

[2018-10-29 22:34] sloretz commented on #305
Thanks!

[2018-10-29 22:34] #305 closed

[2018-12-06 19:19] xabxx opened #317 "access control plugin tests"
## Feature request

#### Feature description
In test_security, tests for access control plugin is missing. I am wondering if there is a plan to add that? I have some tests that target the access control security plugin, but the tests generate policy file at run time, and clean them up before tests are finished.

If dont' already have a plan for access control plugin, could you let me know if you'd

[2018-12-06 19:23] xabxx opened #318 "authentication plugin tests"
## Feature request

#### Add tests for `node_creation` success
test_security includes tests that target the authentication plugin. I see that it's making the node_creation fail when security env. variables are not set or are not set correctly. Perhaps we should also add the successful cases where a node is authentication and able to be created.

[2018-12-07 20:13] sloretz opened #319 "FastRTPS/Connext Action tests are suspiciously short, and probably don't work"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu Bionic
- Installation type:
  - source
- Version or commit hash:
  - https://gist.github.com/sloretz/6e5d7324b115da574d79c7e785d8968e
- DDS implementation:
  - Fast-RTPS + RTI Connext
- Client library (if applicable):
  - clcpp

#### Steps to reproduce issue

1. Run the action test using rclcpp with fastrtps and connext
[code]

1. R

[2018-12-07 20:54] sloretz commented on #319
It looks like all cross vendor tests are skipped if they involve services. If that's still the right thing to do, then it would make sense to skip action across vendors too since they use services.

https://github.com/ros2/system_tests/blob/9147079364b96d645f8d63df6f95cf3535ad7dad/test_communication/CMakeLists.txt#L191-L196

[2018-12-19 16:34] clalancette commented on #318
That sounds like a reasonable test to me.  Please consider opening a pull request implementing that test.  Thanks.

[2019-03-05 20:37] jacobperron opened #332 "Add rclpy action communication tests"
## Feature request

#### Feature description

Now that Python Actions are available we can add tests across RMW implementations and between C++ and Python client libraries.

Related TODOs:

https://github.com/ros2/system_tests/blob/e8123743ad02b5e21cf26edf3b43c5c259695bc5/test_communication/CMakeLists.txt#L256-L259

https://github.com/ros2/system_tests/blob/e8123743ad02b5e21cf26edf3b43c5c259695bc5

[2019-03-07 19:10] #332 closed

[2019-05-06 21:16] hidmic opened #359 "Bad WStrings encoding when publishing over Connext on Windows"
## Bug report

**Required Info:**

- Operating System:
  - Windows 10
- Installation type:
  - From source
- Version or commit hash:
  - Current master at f65f852432090d1f2431d0cf496cbf4e2006922a
- DDS implementation:
  - RTI Connext
- Client library (if applicable):
  - rclcpp & rclpy

#### Steps to reproduce issue
Run `rclcpp`-to-`rclpy` pub/sub tests using Connext on Windows:

[code]

#### Expe

[2019-05-06 21:26] hidmic opened #360 "Failing rclpy-to-rclcpp WString pub/sub over Connext on Windows"
## Bug report

**Required Info:**

- Operating System:
  - Windows 10
- Installation type:
  - From source
- Version or commit hash:
  - Current master at f65f852432090d1f2431d0cf496cbf4e2006922a
- DDS implementation:
  - RTI Connext
- Client library (if applicable):
  - rclcpp & rclpy

#### Steps to reproduce issue
Run `rclpy`-to-`rclcpp` pub/sub tests using Connext on Windows:

[code]

#### Expe

[2019-05-06 21:26] sloretz commented on #359
Are you already looking into this @hidmic ? I'm setting up a windows VM at the moment to try to reproduce it.

[2019-05-06 21:31] hidmic commented on #359
@sloretz I was planning to, but tomorrow. Feel free to take over.

[2019-05-09 15:11] hidmic commented on #360
Ok, I've came to the conclusion that this isn't actually related to `WString` support but to the fact that when the C++ subscriber test fails, it throws from within the callback right after `rclcpp::shutdown()`. That is, dropping [`throw std::runtime_error(...);`](https://github.com/ros2/system_tests/blob/935860e6d3bfc7f5aa8688272f3bf319560f0a44/test_communication/test/test_subscriber.cpp#L54) wit

[2019-05-09 17:11] hidmic commented on #360
So, the bad exit code comes from the abortion that results of the unhandled `std::runtime_error` exception. Adding a `try ... catch ...` clause is enough for the subscriber to finish gracefully. I'll PR it.

[2019-05-09 17:31] dirk-thomas commented on #360
Where is that exception thrown and why?

[2019-05-09 18:56] hidmic commented on #360
See [here](https://github.com/ros2/system_tests/blob/935860e6d3bfc7f5aa8688272f3bf319560f0a44/test_communication/test/test_subscriber.cpp#L54) (though I added the link in my comment above). As to why, it's the consequence of a message mismatch (which we had for the first time because of #359).

[2019-05-09 21:05] #359 closed

[2019-05-09 21:55] #360 closed

[2019-05-14 21:51] emersonknapp opened #365 "test_cli.test_params_yaml flaky (link to real tracking issue)"
Failures of this test on CI is a known issue and is being tracked at https://github.com/ros2/build_cop/issues/166

Users who don't already know about this would think to look in this package, where the test is from.

[2019-05-17 16:09] dirk-thomas commented on #365
The test was disabled in #369. This issue will be used to track the problem with the goal to reenable the test when it actually passes reliably. The referenced `build_cop` ticket contains more information but will be closed as a duplicate.

[2020-01-30 18:57] ivanpauno opened #396 "Move tests closer to the source code"
## Feature request

#### Feature description

There are a bunch of tests that can be moved closer to the repository where the source code is.

e.g. all tests in `tests_rclcpp` can be moved to `rclcpp`.
See https://github.com/ros2/rclcpp/pull/931#issuecomment-561868473 discussion.

Probably, the sames apply to `test_rclpy`.

[2020-02-12 15:15] mjcarroll opened #399 "New nightly test failures in test_communication"
There are new test failures in the linux nightly build:

First failures: https://ci.ros2.org/view/nightly/job/nightly_linux_debug/1456/ (Feb 11, 2020)

Failures are:

[code]

Failure message:

[code]

[2020-02-20 18:04] dirk-thomas commented on #399
Duplicate of eProsima/Fast-RTPS#1014 which has already been resolved.

[2020-02-20 18:04] #399 closed

[2020-03-10 16:38] rotu opened #404 "test_communication tests take a long time and provide unclear feedback on error"
## Bug report

**Required Info:**

- Operating System:
  - All
- Installation type:
  - All
- Version or commit hash:
  - 68c495a58df2502c77ebc972aba87c73ac46adcc
- DDS implementation:
  - All
- Client library (if applicable):
  - All

#### Steps to reproduce issue

[code]

#### Expected behavior
If failures exist, they happen in a short (<1s) time and report a relevant failure message (something

[2020-03-12 23:01] rotu opened #405 "Tests fail to detect ungraceful ending of action client"
## Bugreport

**Required Info:**

- Operating System:
  - Ubuntu Focal
- Installation type:
  - source
- Version or commit hash:
  - master
- DDS implementation:
  - FastRTPS
- Client library (if applicable):
  - rclpy

#### Steps to reproduce issue

```colcon test --packages-select test_communication```

#### Expected behavior

If the action server or action client is terminated ungracefully, tes

[2020-03-17 19:43] adamsj-oci opened #407 "building test_communication with other RMWs"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - source
- Version or commit hash:
  - 68c495 (master)
- DDS implementation:
  - apparently only FAST-RTPS
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue

How does this work with `colcon`? I tried building with `RMW_IMPLEMENTATION` (for something other than `rmw_fastrtps_cpp` bu

[2020-03-18 20:25] adamsj-oci commented on #407
Bad bug! I didn't need `$ RMW_IMPLEMENTATION=rmw_cyclonedds_cpp` but I didn't forget to source the `local_setup.bash`. I had previously run `$ colcon list` from the command line and `$ colcon build ...` in a script which didn't have the same environment sourced. Once I fixed the environment, then I started to see output in the build logs.

[2020-03-18 21:26] tfoote commented on #407
Thanks for the follow up. Glad it's working.

[2020-03-18 21:26] #407 closed

[2020-03-20 17:06] hidmic commented on #404
I fully agree assertion messages can (and should) be made clearer, simply not obscuring subscriber output, where the actual test is. But I don't think:

is desirable, let alone achievable (in the short to mid-term). Particularly making tests faster.

---

Cross-vendor pub sub tests consist of a publisher process sending a fixed sequence of known messages in cycles and a subscriber process assertin

[2020-03-20 18:04] rotu commented on #404
1. There is a synchronization mechanism implied; all messages must be received within a 10s window from launch for the test to be considered passing. That window seems unreasonably long and could be made much shorter. Considering all test cases I can see pass in < 2 seconds, it seems that window can be reduced.

2. Yes, it's totally reasonable to have some communication from the listener back to t

[2020-03-21 17:00] hidmic commented on #404
Processes start of execution is synchronized, but that's far from enough. That window is a worst case scenario, though AFAIK it's true that no exhaustive search has been conducted to find a lower bound for it.

Which tests? With which RMW implementation? On which platform? Under what CPU load?

The listener **is** the test. So I'd refrain from rolling out an IPC just to get the launcher on this te

[2020-04-13 21:28] nuclearsandwich opened #417 "cppcheck timing out on test_rclcpp"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04 ARM64, macOS AMD64
- Installation type:
  - source
- Version or commit hash:
  - master
- DDS implementation:
  - n/a
- Client library (if applicable):
  - n/a

#### Steps to reproduce issue

Run test_rclcpp tests on ARM64 or macOS and you have a chance of the test timing out rather than completing. Here's an example build whe

[2020-04-13 21:48] rotu opened #418 "test_communication misattributes failure to wrong case"
## Bug report

System info:
https://ci.ros2.org/view/nightly/job/nightly_win_deb/1589/

#### Steps to reproduce issue
run CI https://ci.ros2.org/view/nightly/job/nightly_win_deb/1589/testReport/(root)/projectroot/test_publisher_subscriber__rclpy__rmw_cyclonedds_cpp/

#### Expected behavior
The crash fails the test case associated with it.

#### Actual behavior

The useful stack trace appears in th

[2020-04-13 22:36] jacobperron opened #420 "test_parameter_server_cpp times out"
## Bug report

**Required Info:**

- Operating System:
  - All platforms
- Installation type:
  - source
- Version or commit hash:
  - master
- DDS implementation:
  - Fast-RTPS (branch: 1.10.x, commit: https://github.com/eProsima/Fast-RTPS/commit/09e07c87cc4d406e2f30679b6baa03f2239cec72)
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue

Here is an example failure:

http

[2020-04-13 22:41] jacobperron commented on #420
This reminded me of an outstanding issue we have with services: https://github.com/ros2/demos/issues/304

Indeed, I can reproduce what's happening in the `test_parameters_server_cpp` server with our demos.

Start a server:

[code]

And repeatedly send requests:

[code]

Every time the server receives the request. But only some of the time does the client get the response.

[2020-04-16 14:35] hidmic commented on #418
@rotu what you see is a result of fixture and tests execution not being synchronous but concurrent. That is why `launch_testing` cannot correlate test and `Executable` actions' output. For many cases though we _could_ make up for it by somehow capturing loggers output, but that'll be best-effort unless we instantiate one fixture per test. CC @dirk-thomas for thoughts on `launch_testing` refactor.

[2020-04-17 09:05] rotu opened #424 "take service server request fails but test succeeds"
I noticed these anomalous results: https://ci.ros2.org/job/ci_windows/10042/consoleText
The weird part is `[test_replier-1] [ERROR] [1586854796.352196400] [rclcpp]: executor taking a service server request from service '/test_time_08_59_55/test/service/Arrays' unexpectedly failed: error not set`
It seems like maybe the test should be failing.

[code]

[2020-04-30 22:00] sloretz opened #429 "Enable cross-vendor tests for unknown RMW implementations"
## Feature request

#### Feature description
Some private or yet-to-be released RMW implementations may intend to interoperate with other RMW implementations. For example, DDS based implementations probably want to communicate with the other DDS implemenations. This is a ticket to enable them to use tests in this repo to determine whether that actually works.

See discussion on https://github.com/

[2020-05-01 13:18] ivanpauno commented on #420
@hidmic this is happening with cyclonedds too https://ci.ros2.org/view/nightly/job/nightly_win_rel/1537/testReport/junit/(root)/projectroot/test_parameter_server_cpp__rmw_cyclonedds_cpp/.

[2020-05-01 15:47] hidmic commented on #420
@ivanpauno I'd think issues in CycloneDDS are related to https://github.com/ros2/rmw_cyclonedds/issues/74.

[2020-05-01 16:18] ivanpauno commented on #420
I originally thought the same, but then I discovered https://github.com/ros2/rclcpp/pull/1101.
It's still unrelated to the `fastrtps` failures, and what it's described in ros2/rmw_cyclonedds#74 is still a possible race condition.

[2020-05-01 19:53] hidmic commented on #420
Alright, it's not a race in SPDP exchanges. And the service reply change set is being sent and arriving.

I can't tell what the root cause of the problem is yet, but each and every time the client hangs, the [`WriterProxy::received_change_set`](https://github.com/eProsima/Fast-RTPS/blob/be1afe5df3eb691cd87686b777fca086e1934788/src/cpp/rtps/reader/WriterProxy.cpp#L228) call on the reply change set

[2020-05-04 08:13] MiguelCompany commented on #420
@hidmic Thanks for the in-deep analysis

This seems like the same issue we were trying to solve with eProsima/Fast-RTPS#1190 which, in particular,

[2020-05-04 12:10] hidmic commented on #420
@MiguelCompany indeed. I can no longer reproduce after cherry-picking those changes into `1.10.x`. Any chance to backport ? CC @jacobperron as we may need to re-release some packages.

[2020-05-05 12:44] hidmic commented on #420
Considering that recent repeated OSX nightlies no longer show this flake (https://ci.ros2.org/view/nightly/job/nightly_osx_repeated/1941 or https://ci.ros2.org/view/nightly/job/nightly_osx_repeated/1943 for instance), I'll close this.

[2020-05-05 12:44] #420 closed

[2020-05-22 22:20] jacobperron opened #432 "[test_security] Fails compilation on second try"
## Bug report

**Required Info:**

- Operating System:
  -  Windows 10
- Installation type:
  - from source
- Version or commit hash:
  - b9bebaf21fd17f45bb29f3af9b619481d2d886b9
- DDS implementation:
  - N/A
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue

Build test_security twice:
[code]

#### Expected behavior

Compiles twice without error.

#### Actual behavior

The s

[2020-05-30 17:42] mikaelarguedas opened #446 "[test_security] Secure communication tests are unstable causing CI to fail sometimes"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu Focal
- Installation type:
  - source
- Version or commit hash:
  - master
- DDS implementation:
  - Fast-RTPS (static and dynamic)
- Client library (if applicable):
  - rclcpp

Since https://github.com/ros2/sros2/pull/208 the end-to-end tests of sros2 are enabled on the CI of this repo (daily master branch test + PR testing).
While

[2020-06-04 17:07] dirk-thomas commented on #432
@ros-security-wg Can you please look into this and propose a fix. Thanks.

[2020-06-04 17:25] kyrofa commented on #432
Thanks for the ping. Need to find myself a Windows computer!

[2020-06-16 18:28] jacobperron commented on #432
I've noticed the same issue on macOS too.

[2020-06-16 20:24] mikaelarguedas commented on #432
See https://github.com/ros2/system_tests/pull/434 for a fix. @dirk-thomas and @jacobperron can you confirm if this fixes the issue for your use case ?

[2020-06-16 22:03] Arnatious commented on #432
Can't reproduce. Built twice and it was fine

[2020-06-16 22:08] mikaelarguedas commented on #432
Can you try passing the `--cmake-force-configure` flag to your build ?
Similar to the command invocation from https://github.com/ros2/system_tests/pull/434#issuecomment-644997092

[2020-06-16 22:53] #432 closed

[2020-06-19 16:57] azeey opened #435 "Secure publisher_subscriber tests failing with timeouts"
A random subset of the various combinations of `test_secure_publisher_subscriber_*` tests have started failing since https://ci.ros2.org/job/nightly_linux_repeated/1900/ (and maybe even earlier). The failures have all been timeouts.

- [test_secure_publisher_subscriber__UnboundedSequences__rmw_fastrtps_cpp__secure_comm_0](https://ci.ros2.org/job/nightly_linux_repeated/1900/testReport/(root)/projec

[2020-07-09 21:55] dirk-thomas commented on #435
@mikaelarguedas Can you take a look at these test failures?

[2020-07-10 06:21] mikaelarguedas commented on #435
The issue description doesn't give much context, when did these actually start appearing ? do they happen only on FastRTPS ? only on Linux ? This looks similar to https://github.com/ros2/sros2/issues/221

I'm not sure when I'd have bandwidth to look at these, assigning @ros-security-wg hoping that someone else from the WG may have time to look into this.

[2020-07-22 23:46] audrow opened #443 "[test_rclcpp] An intraprocess multi-thread executor test hangs because of ring buffer"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - Source
- Version or commit hash:
  - 3080805e8969905c02f363fe02b2c93674ca05e7
- DDS implementation:
  - Fast-RTPS
- Client library:
  - rclcpp

#### Steps to reproduce issue

Run the test below repeatedly.  You can increase the `num_messages` to be larger and add stress to your system to make the error

[2020-07-23 18:53] audrow commented on #443
Actually, I do not think the above is correct.  The QOS argument uses the `num_messages` to determine the capacity of the ring buffer, so it should not be possible to fill the ring buffer and, thus, should not be possible to overwrite messages in the ring buffer causing them not to be called.

This error occurs for me most frequently when using [`rr`](https://rr-project.org/) (although, still ever

[2020-07-23 18:53] #443 closed

[2020-08-10 15:52] dirk-thomas opened #445 "test_cli_remapping name_maker test failing"
See failing test in nightly: https://ci.ros2.org/view/nightly/job/nightly_linux-aarch64_repeated/1286/testReport/test_cli_remapping.TestCLIRemappingAfterShutdown/test_processes_finished_gracefully[_home_jenkins-agent_workspace_nightly_linux-aarch64_repeated_ws_src_ros2_system_tests_test_cli_remapping_test_name_maker/py_/

[2020-08-18 02:52] chapulina commented on #417
I'm not sure what the "here" refers to, is there a link?

Is there a downside to increasing this timeout? Can a PR be opened with the change?

[2020-08-19 16:22] chapulina commented on #417
Just found this: https://github.com/ament/ament_lint/pull/263

[2020-08-26 19:46] kyrofa commented on #435
@azeey any chance you could provide the information @mikaelarguedas requested?

[2020-08-27 17:30] ivanpauno commented on #435
I'm not quite sure, but they seem to be old (as the tests are too flaky, it's hard to track when they started).

I haven't seen that error in other rmw implementations.

:+1: I think we can close one.
@mikaelarguedas Let me know which one you prefer opened.

In the last 10 linux repeated builds I have only found this `test_communication` failure:
https://ci.ros2.org/job/nightly_linux_repeated/1993

[2020-08-31 18:12] dirk-thomas commented on #445
@sloretz Any update on this?

[2020-09-11 22:39] sloretz commented on #445
Most recent failure https://ci.ros2.org/view/nightly/job/nightly_linux-aarch64_repeated/1339/testReport/junit/test_cli_remapping.TestCLIRemappingAfterShutdown/test_processes_finished_gracefully[_home_jenkins-agent_workspace_nightly_linux-aarch64_repeated_ws_src_ros2_system_tests_test_cli_remapping_test_name_maker/py_/

I did not find any similar failures in the amd64 repeated job, so it's likely a

[2020-09-11 22:55] sloretz commented on #445
Seems to be [this test that is failing](https://github.com/ros2/system_tests/blob/2a0a6293ae186b5c1b1d75696f08bf472afb2930/test_cli_remapping/test/test_cli_remapping.py#L174-L176). It is failing because [`name_maker.py` is exiting with return code -2](https://github.com/ros2/system_tests/blob/master/test_cli_remapping/test/name_maker.py) ([SIGINT](https://man7.org/linux/man-pages/man7/signal.7.htm

[2020-09-11 23:09] sloretz commented on #445
3 different tracebacks

[code]

[code]

[code]

[2020-11-04 18:31] chapulina opened #451 "👩‍🌾 test_publisher_subscriber_serialized__rmw_connext_cpp regression"
This test had been passing consistently with Connext until the latest Ubuntu x86_64 nightly:

https://ci.ros2.org/view/nightly/job/nightly_linux_repeated/2097/testReport/(root)/projectroot/test_publisher_subscriber_serialized__rmw_connext_cpp/history/

Note that it still succeeded for FastRTPS and CycloneDDS:

* https://ci.ros2.org/view/nightly/job/nightly_linux_repeated/2097/testReport/(root)/pro

[2020-11-05 21:38] chapulina commented on #435
Update on the status of each test:

- `test_secure_publisher_subscriber__UnboundedSequences__rmw_fastrtps_cpp__secure_comm_0`
    * [no failure for the past 31 biilds](https://ci.ros2.org/job/nightly_linux_repeated/lastBuild/testReport/(root)/projectroot/test_secure_publisher_subscriber__UnboundedSequences__rmw_fastrtps_cpp__secure_comm_0/history/)

- `test_secure_publisher_subscriber__Empty__rmw_

[2020-11-18 22:32] clalancette commented on #319
Yeah, as far as I know, services don't currently work cross-vendor.  So I think disabling cross-vendor action testing is the correct thing to do here as well.

[2020-11-24 00:43] brawner opened #452 "Windows failure of test_action_client_server with rclcpp client and rclpy server with rmw_cyclonedds_cpp"
This was found by @azeey last week and was likely introduced during https://github.com/ros2/rclcpp/pull/1404.

This test is failing with a very specific combination on Windows only and I don't have all the details yet. Opening this issue to track discussion.

Two of the 20 different combinations times out, everything else finishes in just a few seconds.
https://ci.ros2.org/view/nightly/job/nightly

[2020-11-24 00:51] brawner commented on #452
Trying to increase timeout of the failing test

[2020-11-24 01:54] brawner commented on #452
Other tests that look like they are timing out for similar reasons (all `rmw_cyclonedds_cpp`):

https://ci.ros2.org/view/nightly/job/nightly_win_extra_rmw_rel/955/testReport/(root)/projectroot/test_client_scope_cpp__rmw_cyclonedds_cpp/
https://ci.ros2.org/view/nightly/job/nightly_win_extra_rmw_rel/955/testReport/(root)/projectroot/gtest_avoid_ros_namespace_conventions_qos__rmw_cyclonedds_cpp/
http

[2020-12-02 01:27] brawner commented on #452
Should have been resolved by #454 and #455

[2020-12-02 01:27] #452 closed

[2020-12-02 18:58] jacobperron commented on #451
The test has passed every day since the reported failure. Seems like it may have been an extremely unlucky flake.

I can see how the failure might happen though, if the subscriber doesn't receive the first message then the logic in the test is not going to work. I've opened a PR to make the test more robust to missed messages: https://github.com/ros2/system_tests/pull/456

[2020-12-02 21:02] #451 closed

[2020-12-03 21:31] jacobperron commented on #435
Another instance of security-related tests failing recently (November 30th): https://ci.ros2.org/view/nightly/job/nightly_linux_repeated/2122/testReport/

[2020-12-03 21:32] jacobperron commented on #446
I'm pretty sure this is a duplicate of https://github.com/ros2/system_tests/issues/435, so I'll close this out. Please comment and/or re-open if I'm mistaken.

[2020-12-03 21:32] #446 closed

[2020-12-03 21:48] mikaelarguedas commented on #446
I believe this issue was moved from sros2 to here to replace #435 that was a duplicate without much context.
If the content of #435 is now more up-to-date than the content of this one let's keep the other one

[2020-12-03 21:48] mikaelarguedas commented on #435
It also keeps failing on sros2 CI on a regular basis: https://github.com/ros2/sros2/runs/1488014494?check_suite_focus=true

[2020-12-03 23:25] jacobperron commented on #445
This failure hasn't happened since [September 6th](https://ci.ros2.org/view/nightly/job/nightly_linux-aarch64_repeated/1339/testReport/junit/test_cli_remapping.TestCLIRemappingAfterShutdown/test_processes_finished_gracefully%5B_home_jenkins-agent_workspace_nightly_linux-aarch64_repeated_ws_src_ros2_system_tests_test_cli_remapping_test_name_maker/py_/). Closing for now, we can re-open if the failur

[2020-12-03 23:25] #445 closed

[2020-12-20 16:16] eboasson opened #458 "test_client_scope_cpp can fail with exception"
## Bug report

**Required Info:**

- Operating System:
  - macOS Big Sur (on Apple M1), but also seen on Linux (e.g., https://ci.ros2.org/view/nightly/job/nightly_linux-aarch64_repeated/1437/testReport/junit/(root)/projectroot/test_client_scope_cpp__rmw_cyclonedds_cpp/)
- Installation type:
  - source
- Version or commit hash:
  - system_tests: 509853dbb28ac28d5d645d609cc89ab80e871555
  - rclcpp:

[2020-12-22 00:11] jacobperron commented on #458
Indeed, the pattern

[code]

is not safe.

I found this older issue about it https://github.com/ros2/rclcpp/issues/1066
The immediate solution was to wrap the whole thing in a try-catch, e.g. https://github.com/ros2/examples/pull/270

Unfortunately, this pattern seems to be used in many places with a try-catch :fearful:
IMO, it is not great to require the user to wrap this pattern in a try-catch a

[2021-01-21 19:55] #458 closed

[2021-02-08 04:35] k2kite-megankim opened #461 "How to run test with my package"
How can I use this system_tests for testing my package?
Please let me know how I can set the test directory.
Also, I want to set the parameter INITIAL_PARAMS_RCLCPP and INITIAL_PARAMS_RCLPY
Is there any guide or something?TT

## Bug report

**Required Info:**

- Operating System:
  -
- Installation type:
  -
- Version or commit hash:
  -
- DDS implementation:
  -
- Client library (if applicable):

[2021-02-08 13:49] clalancette commented on #461
For questions like this, please ask them on https://answers.ros.org.  That way all of the questions and answers are in one searchable place.  I'm going to close this one out for now.

[2021-02-08 13:49] #461 closed

[2021-03-08 22:31] tfoote opened #464 "test_rclcpp.TestTwoExecutablesAfterShutdown.test_node_name flaky"
## Bug report

https://github.com/ros2/rclcpp/issues/1552
**Required Info:**

- Operating System:
  - OSX
- Installation type:
  - nightly_osx_repeated
- Version or commit hash:
  - nightly
- DDS implementation:
  - The errors appear for tests between cyclonedds and fastrtps_cpp
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue

This failed on the nightly CI run:

https:/

[2021-04-13 13:24] ivanpauno opened #468 "[test_quality_of_service] test_lifespan__rmw_connext_cpp is flaky"
## Bug report

**Required Info:**

- Operating System:
  - Windows (though others might be affected as well)
- Installation type:
  - Source
- Version or commit hash:
  - https://github.com/ros2/system_tests/commit/704594eab4f2a949624f95d933e23c1d8b5832b9
- DDS implementation:
  - connext, fastrtps (cyclonedds might be affected too).
- Client library (if applicable):
  - rclcpp

#### Steps to repr

[2021-04-13 16:42] ivanpauno opened #469 "test_cli_remapping is flaky"
## Bug report

**Required Info:**

- Operating System:
  - Linux, likely affects other OSs
- Installation type:
  - source
- Version or commit hash:
  - https://github.com/ros2/system_tests/commit/704594eab4f2a949624f95d933e23c1d8b5832b9
- DDS implementation:
  - cyclonedds, likely affects other rmw implementations
- Client library (if applicable):
  - rclcpp

#### Additional information

Example

[2021-04-14 16:34] #469 closed

[2021-04-28 16:33] clalancette commented on #435
The last time this seems to have failed was on April 1st in: https://ci.ros2.org/view/nightly/job/nightly_linux_repeated/2244/ .  Since then, there have been no instances of this test failure in nightly_linux_repeated.  Thus, I'm going to go ahead and close this out; feel free to reopen if we see it again.

[2021-04-28 16:33] #435 closed

[2021-05-26 23:58] jacobperron opened #476 "Re-enable cross-vendor tests on Windows"
There is a TODO regarding disabled cross-vendor tests on Windows:

https://github.com/ros2/system_tests/blob/f460b6e82d0eae17b66f4ce038dd99d907bdf10d/test_communication/CMakeLists.txt#L160

It would be nice to resolve these and have the tests re-enabled again. I'm not sure what's required to make these tests pass.

Here's an older related PR: https://github.com/ros2/system_tests/pull/323
And an ol

[2021-05-27 00:04] jacobperron commented on #476
I've push a change re-enabling the tests (afa5184cb30a7d1eada8441f0b62dce6651aff16) and triggered a Windows build to see where we stand: [![Build Status](https://ci.ros2.org/buildStatus/icon?job=ci_windows&build=14836)](https://ci.ros2.org/job/ci_windows/14836/)

[2021-06-01 15:58] harshilbhatt2001 opened #477 "[test_quality_of_service] Fails to build due to error [-Werror=maybe-uninitialized]"
## Bug report

**Required Info:**

- Operating System:
  - Arch Linux
- Installation type:
  - source
- Version or commit hash:
  - master
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  -  NA

#### Steps to reproduce issue

Error in building the package
[code]

#### Expected behavior
Builds successfully
#### Actual behavior
[code]

#### Additional information
gcc version 1

[2021-06-01 16:35] clalancette commented on #477
This should be fixed by https://github.com/ament/googletest/pull/16 .  Once we have that on the ros2 branch, we can consider backporting to the supported distributions.  I'm going to close this one as a duplicate.

[2021-06-01 16:35] #477 closed

[2021-08-26 01:56] chapulina opened #484 "👩‍🌾 test_communication compilation failing nightly coverage builds"
## Bug report

**Required Info:**

- Operating System: Ubuntu Focal
  -
- Installation type: Source,
  -
- Version or commit hash: master
  -
- DDS implementation: Default
  -

#### Steps to reproduce issue

Run nightly coverage jobs:

https://ci.ros2.org/job/nightly_linux_coverage/

#### Expected behavior

All packages build

#### Actual behavior

`test_communication` fails to build and brings do

[2021-08-30 13:58] clalancette commented on #484
Looking at https://github.com/ros2/system_tests/blob/master/test_communication/test/test_subscriber.cpp , it looks like it template-generates a function for all possible types.  That is likely what is causing the OOM error sometimes.  One easy way to fix this would be to put that templated function in a header file, then generate a separate binary per type.  Each individual compilation unit would

[2021-09-20 23:15] sloretz opened #486 "Flaky test test_n_nodes__rmw_fastrtps_cpp"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu Focal
- Installation type:
  - source
- Version or commit hash:
  - fab8e95bcfa4ac21415c610068cc14ea0ff7ad78
- DDS implementation:
  - FastDDS
- Client library (if applicable):
  - rclcpp

#### Actual behavior

[code]

The test appears to complete successfully, but then fails to shutdown afterwards. `launch` escalates to a SIGTERM s

[2021-10-14 17:11] Blast545 opened #487 ":man_farmer: multi_access_publisher_intra_process test failing"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu Focal
- Installation type:
  - Binaries, `build.ros2.org` CI
- Version or commit hash:
  - Foxy, Fci__nightly-release_ubuntu_focal_amd64
- DDS implementation:
  - Cyclone and FastRTPS
- Client library (if applicable):
  - Package: `test_rclcpp`

#### Expected behavior
All CI tests should pass.

#### Actual behavior
`test_rclcpp.gtes

[2021-10-14 18:05] Blast545 commented on #487
Seems to me like the define test requires additional configuration to configure the intra-process buffer or there's a problem with the current configuration.

https://github.com/ros2/system_tests/blob/de52860ca81532097285881e913038ec14ea2745/test_rclcpp/test/test_multithreaded.cpp#L66

[2022-01-24 21:22] Blast545 commented on #487
:man_farmer: :male_detective: After digging deeper into this issue I've realized that the actual fix for this was introduced for Galactic with https://github.com/ros2/rclcpp/pull/1241. AFAIK this is not backportable to Foxy, should we add a note to those tests and disable them @jacobperron ?

Those are failing pretty consistently in the buildfarm: https://build.ros2.org/view/Fci/job/Fci__nightly-r

[2022-01-25 00:12] jacobperron commented on #487
hmm, yeah I don't think ros2/rclcpp#1241 is backportable. I think I'm okay with disabling the failing test with a note about the bug. I'm happy to review a PR :)

We may want to also add a note about the bug on the [Foxy release page](https://docs.ros.org/en/foxy/Releases/Release-Foxy-Fitzroy.html#known-issues).

[2022-01-25 16:52] Blast545 commented on #487
Cool, I opened https://github.com/ros2/system_tests/pull/495 to disable the test and https://github.com/ros2/ros2_documentation/pull/2243 to document it as a known issue :raised_hands:

[2022-02-01 17:51] Blast545 commented on #487
Addressed by now

[2022-02-01 17:51] #487 closed

[2022-02-03 15:44] clalancette commented on #464
Since we are no longer running the macOS jobs nightly, I'm going to close this out.

[2022-02-03 15:44] #464 closed

[2022-02-03 20:20] clalancette commented on #484
I haven't seen this particular failure in a while now, so maybe we reduced things enough?  Unclear, but I'm going to close this for now and we can open a follow-up or a new one as necessary.

[2022-02-03 20:20] #484 closed

[2022-03-04 06:25] Blast545 opened #496 ":man_farmer: `test_subscriber_terminates_in_a_finite_amount_of_time` and `test_processes_finished_gracefully` failing on Windows"
## Bug report

**Required Info:**

- Operating System:
  - Windows
- Installation type:
  - Source
- Version or commit hash:
  - main
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - rclpy

#### Steps to reproduce issue
Check nightly windows jobs on the buildfarm.
Reference job showing an error in jenkins with both `test_subscriber_terminates_in_a_finite_amount_of_time` an

[2022-03-24 17:54] Blast545 opened #498 ":man_farmer: `test_security` -> `test_processes_finished_gracefully` and `test_subscriber_terminates_in_a_finite_amount_of_time` tests failing on nightlies `linux` + `linux-rhel` and windows repeated"
## Bug report

**Required Info:**

- Operating System:
  - `jammy` + Linux-Rhel + Windows flaky
- Installation type:
  - Source, buildfarm
- Version or commit hash:
  - master
- DDS implementation:
  - Default rmw, Fast-RTPS

#### Steps to reproduce issue
Run a buildfarm job on linux rhel or on ubuntu jammy.

#### Expected behavior
All test pass.

#### Actual behavior
Some security tests fail cons

[2022-04-08 13:42] clalancette commented on #498
This one is tricky.  The error on Jammy has been fixed by various changes we did to infrastructure.

We've had a hard time getting reliable RHEL builds lately, but on one of the latest ones that did run to completion it did fail: https://ci.ros2.org/view/nightly/job/nightly_linux-rhel_release/1100/#showFailuresLink .  @cottsay has dug into a bit, and figured out that it had something to do with th

[2022-04-08 21:14] cottsay commented on #498
There are a couple of issues related to RTI's bundled OpenSSL.
1. For RHEL: The default linker flags don't include `-Wl,--as-needed`, and because we're linking against message packages by linking in all of the generator outputs, every binary that links a message package gets linked against the Python libraries. On RHEL, the Python libraries are linked against `libcrypto.so`, which gets loaded from

[2022-05-10 17:07] Blast545 opened #502 "`test_quality_of_service` test fails with `rmw_connextdds`"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu Jammy
- Installation type:
  - Source, buildfarm
- Version or commit hash:
  - `main`
- DDS implementation:
  - Connext DDS

#### Steps to reproduce issue
Run a linux job on the debug ci.ros2.org buildfarm

#### Expected behavior
All test pass.

#### Actual behavior
This one fails: https://ci.ros2.org/view/nightly/job/nightly_linux_

[2022-05-12 18:33] Blast545 commented on #502
The line throwing the assertion is:

https://github.com/ros2/rmw_connextdds/blob/master/rmw_connextdds_common/src/common/rmw_impl.cpp#L289

`rmw_connext` is not able current to manage the default values set on `rclcpp`
https://github.com/ros2/rmw_connextdds/blob/master/rmw_connextdds_common/src/common/rmw_impl.cpp#L529-L534

[2022-05-16 21:04] mjeronimo commented on #502
I submitted a PR here: https://github.com/ros2/rmw_connextdds/pull/88

[2022-05-20 14:14] #502 closed

[2022-11-01 12:28] Crola1702 commented on #496
Happened today in https://ci.ros2.org/view/nightly/job/nightly_win_deb/2532/

[2022-11-01 12:29] Crola1702 commented on #496
Happened today in: https://ci.ros2.org/view/nightly/job/nightly_win_deb/2532/

[2022-11-07 13:35] Crola1702 commented on #496
Today we had 6 of this here: https://ci.ros2.org/view/nightly/job/nightly_win_deb/2538/

[2022-11-10 14:45] Crola1702 commented on #496
Today we had 3 of this here: https://ci.ros2.org/view/nightly/job/nightly_win_deb/2541/testReport/